[user]
    name = Matt Meshulam
    email = matt@meshul.am
[push]
    default = simple
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f
[url "ssh://git@heroku.com/"]
    insteadOf = https://git.heroku.com/
[alias]
    aa  = add --all
    lol = log --decorate --graph --oneline
    loz = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    cm  = commit -a -m
    co  = checkout
    d   = diff
    r   = remote -v
    s   = status -sb
