[user]
    name = Matt Meshulam
    email = matt@meshul.am
[push]
    default = simple
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f
[url "ssh://git@heroku.com/"]
    insteadOf = https://git.heroku.com/
[url "git@github.com:"]
    insteadOf = https://github.com/
[alias]
    a   = add
    aa  = add --all
    # Pretty list branches
    b   = for-each-ref --sort='-authordate' --format='%(align:13)%(authordate:relative)%(end)%(HEAD)%(refname:strip=2) %(upstream:trackshort)' refs/heads
    c   = commit --verbose
    cam = commit -a -m
    co  = checkout
    cob = checkout -b
    conflicts   = diff --diff-filter=U --name-status
    d   = diff
    dc  = diff 'HEAD~'      # Diff of the last commit
    l   = log --pretty=format:'%C(yellow)%h%Creset - %Cgreen%ar%Creset - %Cblue%ae%Cred%d%Creset%n    %s'
    ll  = log --pretty=format:'%C(yellow)%h%Creset - %Cgreen%ar%Creset - %Cblue%ae%Cred%d%Creset %s' --numstat
    lg  = log --graph --pretty=format:'%Cred%h%C(yellow)%d%Creset %s %Cgreen(%cr) %Cblue<%an>%Creset' --abbrev-commit
    p   = pull
    pu  = push
    r   = remote -v
    s   = status -sb
